{% extends "base.html" %}

{% block content %}

  <h1>Buggy</h1>

  <table>
    <tr>
      <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
    <tr>
      <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>
    <tr>
      <td>Power:</td> <td> {{ buggy['power_type'] }} </td>
    </tr>
    <tr>
      <td>Amount of Fuel:</td> <td> {{ buggy['power_units'] }} </td>
    </tr>
    <tr>
      <td>Auxiliary Power:</td> <td> {{ buggy['aux_power_type'] }} </td>
    </tr>
    <tr>
      <td>Auxiliary Fuel:</td> <td> {{ buggy['aux_power_units'] }} </td>
    </tr>
    <tr>
      <td>Hamster Steroids:</td> <td> {{ buggy['hamster_booster'] }} </td>
    </tr>
    <tr>
      <td>Flag Colour:</td> <td> {{ buggy['flag_color'] }} </td>
    </tr>
    <tr>
      <td>Flag Patern:</td> <td> {{ buggy['flag_pattern'] }} </td>
    </tr>
    <tr>
      <td>Flag Secondary Colour:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
    </tr>
    <tr>
      <td>Tyres:</td> <td> {{ buggy['tyres'] }} </td>
    </tr>
    <tr>
      <td>Number of Tyres:</td> <td> {{ buggy['qty_tyres'] }} </td>
    </tr>
    <tr>
      <td>Armour:</td> <td> {{ buggy['armour'] }} </td>
    </tr>
    <tr>
      <td>Offence:</td> <td> {{ buggy['attack'] }} </td>
    </tr>
    <tr>
      <td>Number of Attacks:</td> <td> {{ buggy['qty_attacks'] }} </td>
    </tr>
    <tr>
      <td>Fireproof:</td> <td> {{ buggy['fireproof'] }} </td>
    </tr>
    <tr>
      <td>Insulated:</td> <td> {{ buggy['insulated'] }} </td>
    </tr>
    <tr>
      <td>Antibiotic:</td> <td> {{ buggy['antibiotic'] }} </td>
    </tr>
    <tr>
      <td>Banging Sound System:</td> <td> {{ buggy['banging'] }} </td>
    </tr>
    <tr>
      <td>Algorithm:</td> <td> {{ buggy['algo'] }} </td>
    </tr>
  
  </table>

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
