<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>Make buggy</h1>
  <form action="/new" method="post">
    <div class="grid-container">
      <div class="grid-label"> <label for="qty_wheels">Number of wheels:</label> </div>
      <div class="grid-entry"> <input class="grid" type="text" name="qty_wheels" value="4"/> </div>
      <div class="grid-label"> <label for="power_type">Primary motive power:</label> </div>
      <div class="grid-entry"> 
        <select name="power_type" id="">
          <option value="petrol">Petrol</option>
          <option value="fusion">Fusion reactor</option>
          <option value="steam">Steam engine</option>
          <option value="bio">Bio-fuel</option>
          <option value="electric">Lithium-ion</option>
          <option value="rocket">Rocket fuel</option>
          <option value="hamster">Hamster</option>
          <option value="thermo">Thermonuclear reactor</option>
          <option value="solar">Solar panels</option>
          <option value="wind">Sailing rig</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="power_units">Primary motive power units:</label> </div>
      <div class="grid-entry"> <input class="grid" type="text" name="power_units" value="1"/> </div>
      <div class="grid-label"> <label for="aux_power_type">Auxiliary motive power:</label> </div>
      <div class="grid-entry">
        <select name="aux_power_type" id="">
          <option value="null">None</option>
          <option value="petrol">Petrol</option>
          <option value="fusion">Fusion reactor</option>
          <option value="steam">Steam engine</option>
          <option value="bio">Bio-fuel</option>
          <option value="electric">Lithium-ion</option>
          <option value="rocket">Rocket fuel</option>
          <option value="hamster">Hamster</option>
          <option value="thermo">Thermonuclear reactor</option>
          <option value="solar">Solar panels</option>
          <option value="wind">Sailing rig</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="aux_power_units">Auxiliary motive power units:</label> </div>
      <div class="grid-entry"> <input class="grid" type="text" name="aux_power_units" value="0"/> </div>
      <div class="grid-label"> <label for="hamster_booster">Hamster booster:</label> </div>
      <div class="grid-entry"> <input class="grid" type="text" name="hamster_booster" value="0"/> </div>
      <div class="grid-label"> <label for="flag_color">Flag's colour:</label> </div>
      <div class="grid-entry"> 
        <select name="flag_color" id="">
          <option class="colour" value="#ffffff" style=background-color:#ffffff;color:#000000>White</option>
          <option class="colour" value="#ff0000" style=background-color:#ff0000;color:red>Red</option>
          <option class="colour" value="#ff8000" style=background-color:#ff8000;color:#ff8000>Orange</option>
          <option class="colour" value="#ffff00" style=background-color:#ffff00;color:#ffff00>Yellow</option>
          <option class="colour" value="#00ff00" style=background-color:#00ff00;color:#00ff00>Green</option>
          <option class="colour" value="#0000ff" style=background-color:#0000ff;color:#0000ff>Blue</option>
          <option class="colour" value="#4B0082" style=background-color:#4B0082;color:#4B0082>Indigo</option>
          <option class="colour" value="#7F00FF" style=background-color:#7F00FF;color:#7F00FF>Violet</option>
          <option class="colour" value="#000000" style=background-color:#000000;color:#000000>Black</option>
        </select>
      </div>
      <div class="grid-label"> <label for="flag_pattern">Flag's pattern:</label> </div>
      <div class="grid-entry">
        <select name="flag_pattern" id="">
          <option value="plain">Plain</option>
          <option value="vstripe">V Stripe</option>
          <option value="hstripe">H Stripe</option>
          <option value="dstripe">D Stripe</option>
          <option value="checker">Checker</option>
          <option value="spot">Spot</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="flag_color_secondary">Flag's other colour:</label> </div>
      <div class="grid-entry"> 
        <select name="flag_color_secondary" id="">
          <option class="colour" value="#000000" style=background-color:#000000;color:#000000>Black</option>
          <option class="colour" value="#ff0000" style=background-color:#ff0000;color:#ff0000>Red</option>
          <option class="colour" value="#ff8000" style=background-color:#ff8000;color:#ff8000>Orange</option>
          <option class="colour" value="#ffff00" style=background-color:#ffff00;color:#ffff00>Yellow</option>
          <option class="colour" value="#00ff00" style=background-color:#00ff00;color:#00ff00>Green</option>
          <option class="colour" value="#0000ff" style=background-color:#0000ff;color:#0000ff>Blue</option>
          <option class="colour" value="#4B0082" style=background-color:#4B0082;color:#4B0082>Indigo</option>
          <option class="colour" value="#7F00FF" style=background-color:#7F00FF;color:#7F00FF>Violet</option>
          <option class="colour" value="#ffffff" style=background-color:#ffffff;color:#ffffff>White</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="tyres">Types of tyres:</label> </div>
      <div class="grid-entry"> 
        <select name="tyres" id="">
          <option value="knobbly">Knobbly</option>
          <option value="slick">Slick</option>
          <option value="steelband">Steelband</option>
          <option value="reactive">Reactive</option>
          <option value="maglev">Maglev</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="qty_tyres">Number of tyres:</label> </div>
      <div class="grid-entry"> <input class="grid" type="text" name="qty_tyres" value="4"/> </div>
      <div class="grid-label"> <label for="armour">Armour:</label> </div>
      <div class="grid-entry"> 
        <select name="armour" id="">
          <option value="none">None</option>
          <option value="wood">Wood</option>
          <option value="aluminium">Aluminium</option>
          <option value="thinsteel">Thinsteel</option>
          <option value="thicksteel">Thicksteel</option>
          <option value="titanium">Titanium</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="attack">Offensive capability:</label> </div>
      <div class="grid-entry"> 
        <select name="attack" id="">
          <option value="none">None</option>
          <option value="spike">Spike</option>
          <option value="flame">Flame</option>
          <option value="charge">Charge</option>
          <option value="biohazard">Biohazard</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="qty_attacks">Number of attacks:</label> </div>
      <div class="grid-entry"> <input class="grid" type="text" name="qty_attacks" value="0"/> </div>
      <div class="grid-label"> <label for="fireproof">Fireproof:</label> </div>
      <div class="grid-entry"> 
        <select name="fireproof" id="">
          <option value="false">False</option>
          <option value="true">True</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="insulated">Insulated:</label> </div>
      <div class="grid-entry"> 
        <select name="insulated" id="">
          <option value="false">False</option>
          <option value="true">True</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="antibiotic">Antibiotic:</label> </div>
      <div class="grid-entry"> 
        <select name="antibiotic" id="">
          <option value="false">False</option>
          <option value="true">True</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="banging">Banging sound system:</label> </div>
      <div class="grid-entry"> 
        <select name="banging" id="">
          <option value="false">False</option>
          <option value="true">True</option>
        </select> 
      </div>
      <div class="grid-label"> <label for="algo">Race computer algorithm:</label> </div>
      <div class="grid-entry"> 
        <select name="algo" id="">
          <option value="steady">Steady</option>
          <option value="defensive">Defensive</option>
          <option value="offensive">Offensive</option>
          <option value="titfortat">Titfortat</option>
          <option value="random">Random</option>
        </select> 
      </div>
    </div>
    <input type="submit" class="button"><br/>
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
